.create, .gameId, .join, .start, .reset, .chat, .win, .mainGame {
	display: none;
}

.messageBoard {
	height: 200px;
	overflow-y: scroll;
}

.test {
	border: 3px dashed orange;
}

.letter-button {
	width: 30px;
	height: 40px;
}

.button-space {
	width: 120px;
}

/*need for google maps api*/
#foodList{
	height:200px;
	width:100%;
	overflow-y: scroll;
	display: none;
}
#map {
  float: left;
  height: 50%;
  width: 50%;
}
html,body {
  height: 100%;
  margin: 0;
  padding: 0;
}
/*end google maps api*/
}
