.create, .join, .start, .chat, .btnWin {
	display: none;
}

.messageBoard {
	height: 200px;
}

.test {
	border: 3px dashed orange;
}

.letter {
    width: 30px;
    height: 30px;
    border-style: solid;
    padding: 2px;
    float: left;
    margin: 2px;
}