/*color styles*/
.brown {
  background-color: #54494b;
}
.white {
  background-color: #fcf8e3;
}
.green {
  background-color: #91c7b1;
}
.red {
  background-color: #b33951;
}
.cream {
  background-color: #eae3c5;
}
/*styling basics*/
.fill {
  width: 100%;
}
.hide {
  display: none;
}
/*button overrides*/
.form-control:focus {
  color: #464a4c;
  border-color: #b33951;
  outline: 0;
  }
.btn-primary {
  color: #fff;
  background-color: #b33951;
  border-color: #742434;
}
.btn-primary:hover {
  background-color: #742434;
  border-color: #b33951;
}
/*sets display none property*/
.create, .gameId, .reset, .join, .start, .chat, .btnWin {
	display: none;
}
/*sets game font*/
html {
  height: 100%;
}
body {
  font-family: 'Montserrat', sans-serif;
   background: linear-gradient(#54494b, black);
   height: 100%;
}
.main.container {
    border-radius: 6px;
}
/*login*/
.hi {
  color: white;
  background: #54494b;
  padding: 5px;
  margin: 0;
  border-radius: 3px;
}
/*the game*/
.mainGame .card.white {
  border: 1px solid #b33951;
  color: #54494b;
}

.game-row .card {
  margin-left: auto;
  margin-right: auto;
}
.letter {
  width:2em;
  margin: .25em;
  cursor: pointer;
  box-shadow: 2px 2px 5px rgba(136,136,136,1);
  transition: box-shadow .2s ease-in-out;
}
.letter:hover {
  box-shadow:1px 1px 4px rgba(136,136,136,.1);
}
.button-space {
  width: 5em;
}
.letter-button {

}
.letter-button-color {
  background-color: #eae3c5;
  border-radius: 3px;
  border: none;
}
/*messageBoard*/
.messageBoard {
	height: 200px;
	overflow-y: scroll;
}
.messageBoard > p {
  margin-bottom: .25rem;
  color: #54494b;
}
/*here when i got here*/

.test {
	border: 2px solid #8a6d3b;
}
